<div class="media">

  <div class="media-body">
    <h5 class="media-heading"><%= comment.commenter %></h5>
    <blockquote><%= comment.body %></blockquote>
  </div>
</div>

<p>
  <%= link_to 'Delete Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => "btn-danger btn-sm" %>
</p>
